function fact 2
    push argument 0
    push constant 1
    lt
    if-goto um

    push argument 0
    push constant 1
    sub
    pop local 1

    push argument 0
    pop local 0

label loop
    push local 1
    push constant 1
    lt
    if-goto end

    push local 0
    push local 1
    call mult 2
    pop local 0

    push local 1
    push constant 1
    sub
    pop local 1

    goto loop


label um
    push constant 1
    pop local 0




label end
    push local 0
    return
